
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;

}

body {
  /* background: #ebebeb; */
  
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #ebebeb; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}
/* slidercart */
.slidecart{
  border-radius: 4px;
  width: 100%;
}
.parentslidercart{
  background-color: white;
}
/* .slidimage{
  
}
.slidimage img{

} */
/* end */

